@font-face {
  font-family: 'Open';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: roboto;
  src: url('../assets/images/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../assets/images/fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: ubuntu;
  src: url('https://fonts.googleapis.com/css?family=Ubuntu');;
}