.fadeIn {
  animation-duration: .5s;
  animation-name: slidein;
  left: 0%;
  @media (max-width: 600px) {
    animation-name: slideinmoble;
  }
}

.fadeOut {
  animation-duration: .5s;
  animation-name: slideout;
  left: -20%;
  @media (max-width: 600px) {
    animation-name: slideoutmoble;
    left: -100%;
  }
}

@keyframes slidein {
  from {
    left: -20%;
  }

  to {
    left: 0%;
  }
}

@keyframes slideout {
  from {
    left: 0%;
  }

  to {
    left: -20%;
  }
}

@keyframes slideinmoble {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes slideoutmoble {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}