nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #353535;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  width: 20%;
  left: -20%;

  @media (max-width: 600px) {
    width: 100%;
    left: -100%;
  }
}

.loadText {
  text-align: center;
  margin: 30vh auto;
  color: #1bff37;
  font-size: 30px;
}